.custom-text {
  color: white;
  font-weight: bold;
}

.main-text-first {
  color: #1b6129;
}

.main-text-second {
  color: #DB8200;
}

.main-head{
  background-color: white;
}

#main-logo{
  background-color: white;
  font-size:50px;
}

.header-button {
  margin-top: -50px;
}
