<section id="funding">
  <div class="container section-heading">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">Funding</h2>
          <hr class="light">
      </div>
        <div class="col-lg-12" text-center>
          <p>Climateuni is a new startup organization with self funded capital. In order to sustain over long run and scale, Climateuni is in process to release opensource decentralize application protocol on Ethereum blockchain in a hope to cover it's operation cost. This protocol will be rolled out in phases, once released announce will be made.</p>
        </div>
        <div class="col-lg-12" text-center>
          <a href="https://ethereum.org" target="_blank">
            <img src="img/portfolio/ethereum.png" alt="">
          </a>
          <p>Ethereum</p>
        </div>
    </div>
  </div>
</section>
