<header id="about">
    <div class="header-content">
        <div class="header-content-inner">
            <h1><span id="main-logo"><span class="main-text-first">CLIMATE<span class="main-text-second">UNI</span></span></span></h1>
            <hr>
            <p><span class="custom-text">Climateuni is non-profit organization which aims to tackle Climate crisis by making Basic Infrastructure and Services (BIS) or resources freely without any cost to local students/members. Basic Infrastructure and Services(BIS) or resources are Water, Electricity, Health, Internet, Housing, Factory, Education, Security, Transportation and Food. The resources at Climateuni can also be used to tackle emergency crisis like current COVID-19 pandemic.<span></p>
            <a href="#more" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
