<section id="more"  class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Why?</h2>
                <hr class="light">
                <p>Currently there is no silver bullet solution to tackle Climate crisis. Climateuni hopes that by providing Basic Infrastructure and Services(BIS) or resources to the local community students freely, they will come with the innovate solutions. Beside tackling Climate crisis, Climateuni also encourage it’s student to innovate on  areas of Basic Infrastructure and Services(BIS). The same resources could be used to tackle emergency crisis like Covid-19.
                <br>
                <p>Basic Infrastructure and Services(BIS) or resources are Water, Electricity, Health, Internet, Housing, Factory, Education, Security, Transportation and Food.</p>
                <br>
                <p>The operation model of Climateuni lean towards public library rather than current traditional education system. Climateuni doesn't fall into any category of today’s educational system and it doesn’t intend to be one. Climateuni only facilitate resources to tackle climate crisis to local students/members where they can learn anything by forming groups or online at Climateuni. There is no restriction on what they can learn but Climateuni emphasis that their learning should centered around finding solution to climate related problems and help their local community to plan ahead and adjust during crisis.</p>
            </div>
        </div>
</section>
